*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.page-wrapper{
  height: 100vh;
  background-color: #000;
}

main{
  height: calc(100%-80px);
  display:flex;
}
aside{
  height:100%;
  width:300px;
  background-color: green;
}
.main-content{
  height:100%;
  padding:20px;
  overflow-y:auto;
  width: calc(100%-300px);
  background-color: yellow;

}

.upgrade{
  position: fixed;
  top:0;
  left:0;
  height:80px;
  width: calc(100%-300px);
  background-color: rgba(0, 0, 0);

}
footer{
  height: 80px;
  background-color: red;
}
