

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

/* MIX */

.page-wrapper {
  height: 100vh;
  background-color: #000;
}
.text_center{
  text-align: center;
  }
/* MAIN */
main {
  height: calc(100% - 80px);
  display: flex;
}

/* Sidebar */
aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;

}
.logo {
  font-size: 40px;
  background-color: #000;
  margin-left: 5px;
}
.main-nav {
  background-color: #000;
}
.main-nav a{
  text-decoration: none;
  color: lightgrey;
}
.main-nav ul li{
  padding:10px;
  margin-left: 5px;
}
.main-nav a:hover li{
  color: white;
}
/* secondary nav plylist */
.secondary-nav {
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

.playlist-title h3 {
  padding:10px;
  margin-left: 5px;
}
.playlist-title a {
  padding:10px;
  margin-left: 5px;
}
.playlist-title i{
  font-size: 50px;
}

.playlist-list {
  height: calc(100% - 50px);
  overflow-y: auto;
}
.playlist-list li{
  margin-top:10px;
}
.secondary-nav a{
  text-decoration: none;
  color: lightgrey;
}
.secondary-nav  ul li{
  padding:10px;
  margin-left: 5px;

}
.aside-bottom {
  height: 80px;
  flex-shrink: 0;
  margin-top: auto;
  background-color: #000;

}
.aside-bottom a{
  text-decoration: none;
  color: lightgrey;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:10px;
}

.aside-bottom h3{
  margin-top:5px;
}
/* Main content */
.main-content {
  height: 100%;
  width: calc(100% - 300px);
  padding: 20px;
  overflow-y: auto;
  background-color: #000;
}
.upgrade .btn{
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 10px;
  color: white;

}
.upgrade {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  width: calc(100% - 300px);
  padding: 20px;
  background-color: rgba(0,0,0,0.7);
}
.music{
  margin-top:100px;
}
.menu-music nav ul{
  display: flex;
  justify-content: center;

}
.menu-music li a{
  padding-left: 20px;
  color:lightgrey;
  text-decoration: none;
  text-transform: uppercase;
}

li{
  list-style: none;
}
/* recently */
.music-albums{
  display: flex;
  margin-top: 30px;
}
.recently{
  margin-top: 20px;
  margin-left:20px;
}
.album p{
  padding-top:15px;
  color: grey;
}
.album img{
  max-width:100%;
  max-height: 200px;
  margin-left:15px;
}
.play-hover{
  position: relative;
  width: 100%;
}

.album i {
  position: absolute;
  visibility: hidden;
  font-size: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.album:hover i {
  visibility: visible;
}
/* FOOTER */
footer {
  position: relative;
  z-index: 1;
  height: 80px;
  background-color: red;
}
