

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

/* MIX */
.btn {
  color: #fff;
  background-color: purple;
}
.page-wrapper {
  height: 100vh;
  background-color: #000;
}

/* MAIN */
main {
  height: calc(100% - 80px);
  display: flex;
}

/* Sidebar */
aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;

}
.logo {
  font-size: 40px;
  background-color: #000;
  margin-left: 5px;
}
.main-nav {
  background-color: #000;
}
.main-nav a{
  text-decoration: none;
  color: lightgrey;
}
.main-nav ul li{
  padding:10px;
  margin-left: 5px;
}
.main-nav a:hover li{
  color: white;
}
/* secondary nav plylist */
.secondary-nav {
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

.playlist-title h3 {
  padding:10px;
  margin-left: 5px;
}
.playlist-title a {
  padding:10px;
  margin-left: 5px;
}
.playlist-title i{
  font-size: 50px;
}

.playlist-list {
  height: calc(100% - 50px);
  overflow-y: auto;
}
.playlist-list li{
  margin-top:10px;
}
.secondary-nav a{
  text-decoration: none;
  color: lightgrey;
}
.secondary-nav  ul li{
  padding:10px;
  margin-left: 5px;

}
.aside-bottom {
  height: 80px;
  flex-shrink: 0;
  margin-top: auto;
  background-color: #000;

}
.aside-bottom a{
  text-decoration: none;
  color: lightgrey;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:10px;
}

.aside-bottom h3{
  margin-top:5px;
}
/* Main content */
.main-content {
  height: 100%;
  width: calc(100% - 300px);
  padding: 20px;
  overflow-y: auto;
  background-color: yellow;
}
.upgrade {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  width: calc(100% - 300px);
  padding: 20px;
  background-color: rgba(0,0,0,0.7);
}

/* FOOTER */
footer {
  position: relative;
  z-index: 1;
  height: 80px;
  background-color: red;
}
